In [3]:
# Install pyspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [5]:
pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [14]:
import findspark
findspark.init()

from pyspark import SparkContext
sc.stop()
sc = SparkContext("local", "first app")

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PySpark Create RDD example").config("spark.some.config.option", "some-value").getOrCreate()

In [17]:
#load csv
df = spark.read.csv("/content/simple-zipcodes.csv")
df = spark.read.format('csv').load("/content/simple-zipcodes.csv")
df.printSchema()
df.show()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)

+------------+-------+-------------------+-------+-----+
|         _c0|    _c1|                _c2|    _c3|  _c4|
+------------+-------+-------------------+-------+-----+
|RecordNumber|Country|               City|Zipcode|State|
|           1|     US|        PARC PARQUE|    704|   PR|
|           2|     US|PASEO COSTA DEL SUR|    704|   PR|
|          10|     US|       BDA SAN LUIS|    709|   PR|
|       49347|     US|               HOLT|  32564|   FL|
|       49348|     US|          HOMOSASSA|  34487|   FL|
|       61391|     US|  CINGULAR WIRELESS|  76166|   TX|
|       61392|     US|         FORT WORTH|  76177|   TX|
|       61393|     US|           FT WORTH|  76177|   TX|
|       54356|     US|        SPRUCE PINE|  35585|   AL|
|       76511|     US|           ASH HILL|  27007|   NC|
|           4|     US|    URB EUGENE RICE|    704|   PR|
|       39827|     US|               MESA|  85209|   AZ|
|       39828|     US|               MESA|  85210|   AZ|
|       49345|     US|           HILLIARD|  32046|   FL|
|       49346|     US|             HOLDER|  34445|   FL|
|           3|     US|      SECT LANAUSSE|    704|   PR|
|       54354|     US|      SPRING GARDEN|  36275|   AL|
|       54355|     US|        SPRINGVILLE|  35146|   AL|
|       76512|     US|           ASHEBORO|  27203|   NC|
+------------+-------+-------------------+-------+-----+
only showing top 20 rows

In [19]:
#load csv with headers and options
df = spark.read.options(header='True', inferSchema='True', delimiter=',').csv("/content/simple-zipcodes.csv")
df.printSchema()
df.show()

root
 |-- RecordNumber: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- State: string (nullable = true)

+------------+-------+-------------------+-------+-----+
|RecordNumber|Country|               City|Zipcode|State|
+------------+-------+-------------------+-------+-----+
|           1|     US|        PARC PARQUE|    704|   PR|
|           2|     US|PASEO COSTA DEL SUR|    704|   PR|
|          10|     US|       BDA SAN LUIS|    709|   PR|
|       49347|     US|               HOLT|  32564|   FL|
|       49348|     US|          HOMOSASSA|  34487|   FL|
|       61391|     US|  CINGULAR WIRELESS|  76166|   TX|
|       61392|     US|         FORT WORTH|  76177|   TX|
|       61393|     US|           FT WORTH|  76177|   TX|
|       54356|     US|        SPRUCE PINE|  35585|   AL|
|       76511|     US|           ASH HILL|  27007|   NC|
|           4|     US|    URB EUGENE RICE|    704|   PR|
|       39827|     US|               MESA|  85209|   AZ|
|       39828|     US|               MESA|  85210|   AZ|
|       49345|     US|           HILLIARD|  32046|   FL|
|       49346|     US|             HOLDER|  34445|   FL|
|           3|     US|      SECT LANAUSSE|    704|   PR|
|       54354|     US|      SPRING GARDEN|  36275|   AL|
|       54355|     US|        SPRINGVILLE|  35146|   AL|
|       76512|     US|           ASHEBORO|  27203|   NC|
|       76513|     US|           ASHEBORO|  27204|   NC|
+------------+-------+-------------------+-------+-----+

In [21]:
#load json
df = spark.read.format('json').load("/content/zipcodes.json")
df.printSchema()
df.show()

root
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Decommisioned: boolean (nullable = true)
 |-- EstimatedPopulation: long (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Location: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Long: double (nullable = true)
 |-- Notes: string (nullable = true)
 |-- RecordNumber: long (nullable = true)
 |-- State: string (nullable = true)
 |-- TaxReturnsFiled: long (nullable = true)
 |-- TotalWages: long (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Xaxis: double (nullable = true)
 |-- Yaxis: double (nullable = true)
 |-- Zaxis: double (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- Zipcode: long (nullable = true)

+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|State|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|
|  CINGULAR WIRELESS|     US|        false|               null|32.72|NA-US-TX-CINGULAR...|Cingular Wireless...|NOT ACCEPTABLE| -97.31|         null|       61391|   TX|           null|      null|         NA| -0.1|-0.83| 0.54|     UNIQUE|  76166|
|         FORT WORTH|     US|        false|               4053|32.75| NA-US-TX-FORT WORTH|      Fort Worth, TX|       PRIMARY| -97.33|         null|       61392|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|           FT WORTH|     US|        false|               4053|32.75|   NA-US-TX-FT WORTH|        Ft Worth, TX|    ACCEPTABLE| -97.33|         null|       61393|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|   AZ|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|
|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|   AZ|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|
|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|   FL|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|
|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|
|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|   FL|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|
|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|
|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|   AL|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|
|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|   AL|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|
|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|   AL|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|
|           ASH HILL|     US|        false|               1666| 36.4|   NA-US-NC-ASH HILL|        Ash Hill, NC|NOT ACCEPTABLE| -80.56|         null|       76511|   NC|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|
|           ASHEBORO|     US|        false|              15228|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|         null|       76512|   NC|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
only showing top 20 rows

In [22]:
#show
data = [("1", "Be the change that you wish to see in the world"),
("2", "Everyone thinks of changing the world, but no one thinks of changing himself."),
("3", "The purpose of our lives is to be happy."),
("4", "Be cool.")]
df = spark.createDataFrame(data, ["Seqno", "Quote"])
df.show()
df.show(truncate=False)
df.show(2, truncate=25) 
df.show(n=3,truncate=25,vertical=True)

+-----+--------------------+
|Seqno|               Quote|
+-----+--------------------+
|    1|Be the change tha...|
|    2|Everyone thinks o...|
|    3|The purpose of ou...|
|    4|            Be cool.|
+-----+--------------------+

+-----+-----------------------------------------------------------------------------+
|Seqno|Quote                                                                        |
+-----+-----------------------------------------------------------------------------+
|1    |Be the change that you wish to see in the world                              |
|2    |Everyone thinks of changing the world, but no one thinks of changing himself.|
|3    |The purpose of our lives is to be happy.                                     |
|4    |Be cool.                                                                     |
+-----+-----------------------------------------------------------------------------+

+-----+-------------------------+
|Seqno|                    Quote|
+-----+-------------------------+
|    1|Be the change that you...|
|    2|Everyone thinks of cha...|
+-----+-------------------------+
only showing top 2 rows

-RECORD 0--------------------------
 Seqno | 1
 Quote | Be the change that you...
-RECORD 1--------------------------
 Seqno | 2
 Quote | Everyone thinks of cha...
-RECORD 2--------------------------
 Seqno | 3
 Quote | The purpose of our liv...
only showing top 3 rows

In [23]:
#simple scheme
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

data = [("James","","Smith","36636","M",3000),
("Michael","Rose","","40288","M",4000),
("Robert","","Williams","42114","M",4000),
("Maria","Anne","Jones","39192","F",4000),
("Jen","Mary","Brown","","F",3500)]

schema = StructType([
StructField("firstname",StringType(),True),
StructField("middlename",StringType(),True),
StructField("lastname",StringType(),True),
StructField("id", StringType(), True),
StructField("gender", StringType(), True),
StructField("salary", IntegerType(), True)])
 
df = spark.createDataFrame(data=data,schema=schema)
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [24]:
df.select(df.firstname).show()
df.select(df['firstname']).show()
df.select('firstname').show()

+---------+
|firstname|
+---------+
|    James|
|  Michael|
|   Robert|
|    Maria|
|      Jen|
+---------+

+---------+
|firstname|
+---------+
|    James|
|  Michael|
|   Robert|
|    Maria|
|      Jen|
+---------+

+---------+
|firstname|
+---------+
|    James|
|  Michael|
|   Robert|
|    Maria|
|      Jen|
+---------+

In [25]:
from pyspark.sql.functions import col
df.select(col('firstname')).show()

+---------+
|firstname|
+---------+
|    James|
|  Michael|
|   Robert|
|    Maria|
|      Jen|
+---------+

In [28]:
df.select(df.salary*0.1).show()

+--------------+
|(salary * 0.1)|
+--------------+
|         300.0|
|         400.0|
|         400.0|
|         400.0|
|         350.0|
+--------------+

In [29]:
df.withColumn("tax", df.salary*0.1).drop('age', 'state').show()

+---------+----------+--------+-----+------+------+-----+
|firstname|middlename|lastname|   id|gender|salary|  tax|
+---------+----------+--------+-----+------+------+-----+
|    James|          |   Smith|36636|     M|  3000|300.0|
|  Michael|      Rose|        |40288|     M|  4000|400.0|
|   Robert|          |Williams|42114|     M|  4000|400.0|
|    Maria|      Anne|   Jones|39192|     F|  4000|400.0|
|      Jen|      Mary|   Brown|     |     F|  3500|350.0|
+---------+----------+--------+-----+------+------+-----+

In [30]:
#save to csv and json
df.write.option("header", True).csv("file:/home/msobh/emp_data_csv")
df.write.json("file:/home/msobh/emp_data_json")

In [31]:
#nested scheme
structureData = [
(("James","","Smith"),"36636","M",3100),
(("Michael","Rose",""),"40288","M",4300),
(("Robert","","Williams"),"42114","M",1400),
(("Maria","Anne","Jones"),"39192","F",5500),
(("Jen","Mary","Brown"),"","F",-1)]

structureSchema = StructType([
StructField('name', StructType([
    StructField('firstname', StringType(), True),
    StructField('middlename', StringType(), True),
    StructField('lastname', StringType(), True)])),
StructField('id', StringType(), True),
StructField('gender', StringType(), True),
StructField('salary', IntegerType(), True)])

df = spark.createDataFrame(data=structureData,schema=structureSchema)
df.printSchema()
df.show(truncate=False)

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+--------------------+-----+------+------+
|name                |id   |gender|salary|
+--------------------+-----+------+------+
|{James, , Smith}    |36636|M     |3100  |
|{Michael, Rose, }   |40288|M     |4300  |
|{Robert, , Williams}|42114|M     |1400  |
|{Maria, Anne, Jones}|39192|F     |5500  |
|{Jen, Mary, Brown}  |     |F     |-1    |
+--------------------+-----+------+------+

In [32]:
df.select('name.firstname').show()
df.select(df.name.firstname).show()

+---------+
|firstname|
+---------+
|    James|
|  Michael|
|   Robert|
|    Maria|
|      Jen|
+---------+

+--------------+
|name.firstname|
+--------------+
|         James|
|       Michael|
|        Robert|
|         Maria|
|           Jen|
+--------------+

In [33]:
#select
data = [("James","Smith","USA","CA", "M"),
("Michael","Rose","USA","NY", "M"),
("Robert","Williams","USA","CA", "M"),
("Sara","James","USA","OH", "F"),
("Maria","Jones","USA","FL", "F")]

columns = ["firstname", "lastname", "country", "state", "gender"]
df = spark.createDataFrame(data = data, schema = columns)
df.show(truncate = False)

+---------+--------+-------+-----+------+
|firstname|lastname|country|state|gender|
+---------+--------+-------+-----+------+
|James    |Smith   |USA    |CA   |M     |
|Michael  |Rose    |USA    |NY   |M     |
|Robert   |Williams|USA    |CA   |M     |
|Sara     |James   |USA    |OH   |F     |
|Maria    |Jones   |USA    |FL   |F     |
+---------+--------+-------+-----+------+

In [34]:
df.select('firstname', 'lastname').show()

+---------+--------+
|firstname|lastname|
+---------+--------+
|    James|   Smith|
|  Michael|    Rose|
|   Robert|Williams|
|     Sara|   James|
|    Maria|   Jones|
+---------+--------+

In [35]:
df.select('*').show()

+---------+--------+-------+-----+------+
|firstname|lastname|country|state|gender|
+---------+--------+-------+-----+------+
|    James|   Smith|    USA|   CA|     M|
|  Michael|    Rose|    USA|   NY|     M|
|   Robert|Williams|    USA|   CA|     M|
|     Sara|   James|    USA|   OH|     F|
|    Maria|   Jones|    USA|   FL|     F|
+---------+--------+-------+-----+------+

In [36]:
df.select(df.columns).show()

+---------+--------+-------+-----+------+
|firstname|lastname|country|state|gender|
+---------+--------+-------+-----+------+
|    James|   Smith|    USA|   CA|     M|
|  Michael|    Rose|    USA|   NY|     M|
|   Robert|Williams|    USA|   CA|     M|
|     Sara|   James|    USA|   OH|     F|
|    Maria|   Jones|    USA|   FL|     F|
+---------+--------+-------+-----+------+

In [37]:
#filter
df.select('*').filter(df.state!='FL').show()

+---------+--------+-------+-----+------+
|firstname|lastname|country|state|gender|
+---------+--------+-------+-----+------+
|    James|   Smith|    USA|   CA|     M|
|  Michael|    Rose|    USA|   NY|     M|
|   Robert|Williams|    USA|   CA|     M|
|     Sara|   James|    USA|   OH|     F|
+---------+--------+-------+-----+------+

In [38]:
df.select('*').where(df.state!='FL').show()

+---------+--------+-------+-----+------+
|firstname|lastname|country|state|gender|
+---------+--------+-------+-----+------+
|    James|   Smith|    USA|   CA|     M|
|  Michael|    Rose|    USA|   NY|     M|
|   Robert|Williams|    USA|   CA|     M|
|     Sara|   James|    USA|   OH|     F|
+---------+--------+-------+-----+------+

In [39]:
df.select('*').filter((df.state!='FL') & (df.gender=='M')).show()

+---------+--------+-------+-----+------+
|firstname|lastname|country|state|gender|
+---------+--------+-------+-----+------+
|    James|   Smith|    USA|   CA|     M|
|  Michael|    Rose|    USA|   NY|     M|
|   Robert|Williams|    USA|   CA|     M|
+---------+--------+-------+-----+------+

In [40]:
df.select('*').filter(df.state.isin('FL', 'OH')).show()

+---------+--------+-------+-----+------+
|firstname|lastname|country|state|gender|
+---------+--------+-------+-----+------+
|     Sara|   James|    USA|   OH|     F|
|    Maria|   Jones|    USA|   FL|     F|
+---------+--------+-------+-----+------+

In [41]:
df.filter(df.state.startswith("N")).show()

+---------+--------+-------+-----+------+
|firstname|lastname|country|state|gender|
+---------+--------+-------+-----+------+
|  Michael|    Rose|    USA|   NY|     M|
+---------+--------+-------+-----+------+

In [42]:
df.filter(df.state.endswith("H")).show()

+---------+--------+-------+-----+------+
|firstname|lastname|country|state|gender|
+---------+--------+-------+-----+------+
|     Sara|   James|    USA|   OH|     F|
+---------+--------+-------+-----+------+

In [43]:
df.filter(df.firstname.contains("a")).show()

+---------+--------+-------+-----+------+
|firstname|lastname|country|state|gender|
+---------+--------+-------+-----+------+
|    James|   Smith|    USA|   CA|     M|
|  Michael|    Rose|    USA|   NY|     M|
|     Sara|   James|    USA|   OH|     F|
|    Maria|   Jones|    USA|   FL|     F|
+---------+--------+-------+-----+------+

In [44]:
#drop
data = [("James", "Sales", 3000),
("Michael", "Sales", 4600),
("Robert", "Sales", 4100),
("Maria", "Finance", 3000),
("James", "Sales", 3000),
("Scott", "Finance", 3300),
("Jen", "Finance", 3900),
("Jeff", "Marketing", 3000),
("Kumar", "Marketing", 2000),
("Saif", "Sales", 4100)]
columns= ["employee_name", "department", "salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [45]:
df.dropDuplicates().show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|          Jen|   Finance|  3900|
|      Michael|     Sales|  4600|
|        Scott|   Finance|  3300|
|        Kumar| Marketing|  2000|
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|         Jeff| Marketing|  3000|
|         Saif|     Sales|  4100|
|        Maria|   Finance|  3000|
+-------------+----------+------+

In [46]:
df.dropDuplicates(["department","salary"]).show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        Maria|   Finance|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|        Kumar| Marketing|  2000|
|         Jeff| Marketing|  3000|
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|      Michael|     Sales|  4600|
+-------------+----------+------+

In [47]:
df.distinct().show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|          Jen|   Finance|  3900|
|      Michael|     Sales|  4600|
|        Scott|   Finance|  3300|
|        Kumar| Marketing|  2000|
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|         Jeff| Marketing|  3000|
|         Saif|     Sales|  4100|
|        Maria|   Finance|  3000|
+-------------+----------+------+

In [48]:
df.select('department').distinct().show()

+----------+
|department|
+----------+
|     Sales|
|   Finance|
| Marketing|
+----------+

In [49]:
#group By
simpleData = [("James","Sales","NY",90000,34,10000),
("Michael","Sales","NY",86000,56,20000),
("Robert","Sales","CA",81000,30,23000),
("Maria","Finance","CA",90000,24,23000),
("Raman","Finance","CA",99000,40,24000),
("Scott","Finance","NY",83000,36,19000),
("Jen","Finance","NY",79000,53,15000),
("Jeff","Marketing","CA",80000,25,18000),
("Kumar","Marketing","NY",91000,50,21000)]

schema = ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

In [50]:
df.groupBy("department").sum("salary").show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|     257000|
|   Finance|     351000|
| Marketing|     171000|
+----------+-----------+

In [51]:
df.groupBy("department").count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+

In [52]:
from pyspark.sql.functions import col,sum,avg,max
df.groupBy("department").agg(sum("salary").alias("sum_salary"),
avg("salary").alias("avg_salary"),
sum("bonus").alias("sum_bonus"),
max("bonus").alias("max_bonus")).where(col("sum_bonus") >= 50000).show()

+----------+----------+-----------------+---------+---------+
|department|sum_salary|       avg_salary|sum_bonus|max_bonus|
+----------+----------+-----------------+---------+---------+
|     Sales|    257000|85666.66666666667|    53000|    23000|
|   Finance|    351000|          87750.0|    81000|    24000|
+----------+----------+-----------------+---------+---------+

In [53]:
#order by
df.orderBy('department').show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
+-------------+----------+-----+------+---+-----+

In [54]:
df.orderBy('department', 'state').show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
+-------------+----------+-----+------+---+-----+

In [55]:
df.orderBy(col('department'), col('state')).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
+-------------+----------+-----+------+---+-----+

In [56]:
df.orderBy(col('department'), col('state').desc()).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
+-------------+----------+-----+------+---+-----+

In [57]:
#join
empData = [(1,"Smith","2018",10,"M",3000),
(2,"Rose","2010",20,"M",4000),
(3,"Williams","2010",10,"M",1000),
(4,"Jones","2005",10,"F",2000),
(5,"Brown","2010",30,"",-1),
(6,"Brown","2010",50,"",-1)]
  
empColumns = ["emp_id","name","branch_id","dept_id","gender","salary"]
empDF = spark.createDataFrame(empData,empColumns)
empDF.show()

deptData = [("Finance",10,"2018"),
("Marketing",20,"2010"),
("Marketing",20,"2018"),
("Sales",30,"2005"),
("Sales",30,"2010"),
("IT",50,"2010")]

deptColumns = ["dept_name","dept_id","branch_id"]
deptDF=spark.createDataFrame(deptData,deptColumns)  
deptDF.show()

+------+--------+---------+-------+------+------+
|emp_id|    name|branch_id|dept_id|gender|salary|
+------+--------+---------+-------+------+------+
|     1|   Smith|     2018|     10|     M|  3000|
|     2|    Rose|     2010|     20|     M|  4000|
|     3|Williams|     2010|     10|     M|  1000|
|     4|   Jones|     2005|     10|     F|  2000|
|     5|   Brown|     2010|     30|      |    -1|
|     6|   Brown|     2010|     50|      |    -1|
+------+--------+---------+-------+------+------+

+---------+-------+---------+
|dept_name|dept_id|branch_id|
+---------+-------+---------+
|  Finance|     10|     2018|
|Marketing|     20|     2010|
|Marketing|     20|     2018|
|    Sales|     30|     2005|
|    Sales|     30|     2010|
|       IT|     50|     2010|
+---------+-------+---------+

In [58]:
empDF.join(deptDF, (empDF["dept_id"] == deptDF["dept_id"]) &
   ( empDF["branch_id"] == deptDF["branch_id"]), "inner").show()

+------+-----+---------+-------+------+------+---------+-------+---------+
|emp_id| name|branch_id|dept_id|gender|salary|dept_name|dept_id|branch_id|
+------+-----+---------+-------+------+------+---------+-------+---------+
|     1|Smith|     2018|     10|     M|  3000|  Finance|     10|     2018|
|     2| Rose|     2010|     20|     M|  4000|Marketing|     20|     2010|
|     5|Brown|     2010|     30|      |    -1|    Sales|     30|     2010|
|     6|Brown|     2010|     50|      |    -1|       IT|     50|     2010|
+------+-----+---------+-------+------+------+---------+-------+---------+

In [59]:
#sql
empData = [(1,"Smith","2018",10,"M",3000),
(2,"Rose","2010",20,"M",4000),
(3,"Williams","2010",10,"M",1000),
(4,"Jones","2005",10,"F",2000),
(5,"Brown","2010",30,"",-1),
(6,"Brown","2010",50,"",-1)]
  
empColumns = ["emp_id","name","branch_id","dept_id","gender","salary"]
empDF = spark.createDataFrame(empData,empColumns)
empDF.show()

deptData = [("Finance",10,"2018"),
("Marketing",20,"2010"),
("Marketing",20,"2018"),
("Sales",30,"2005"),
("Sales",30,"2010"),
("IT",50,"2010")]

deptColumns = ["dept_name","dept_id","branch_id"]
deptDF=spark.createDataFrame(deptData,deptColumns)  
deptDF.show()

+------+--------+---------+-------+------+------+
|emp_id|    name|branch_id|dept_id|gender|salary|
+------+--------+---------+-------+------+------+
|     1|   Smith|     2018|     10|     M|  3000|
|     2|    Rose|     2010|     20|     M|  4000|
|     3|Williams|     2010|     10|     M|  1000|
|     4|   Jones|     2005|     10|     F|  2000|
|     5|   Brown|     2010|     30|      |    -1|
|     6|   Brown|     2010|     50|      |    -1|
+------+--------+---------+-------+------+------+

+---------+-------+---------+
|dept_name|dept_id|branch_id|
+---------+-------+---------+
|  Finance|     10|     2018|
|Marketing|     20|     2010|
|Marketing|     20|     2018|
|    Sales|     30|     2005|
|    Sales|     30|     2010|
|       IT|     50|     2010|
+---------+-------+---------+

In [60]:
empDF.createOrReplaceTempView("EMP")
deptDF.createOrReplaceTempView("DEPT")

In [61]:
#select
spark.sql("SELECT emp_id, name, salary, salary*0.1 as tax FROM EMP").show()

+------+--------+------+-----+
|emp_id|    name|salary|  tax|
+------+--------+------+-----+
|     1|   Smith|  3000|300.0|
|     2|    Rose|  4000|400.0|
|     3|Williams|  1000|100.0|
|     4|   Jones|  2000|200.0|
|     5|   Brown|    -1| -0.1|
|     6|   Brown|    -1| -0.1|
+------+--------+------+-----+

In [62]:

spark.sql("SELECT emp_id, name, salary, CASE WHEN salary>1 THEN salary*0.1 ELSE 0 END as tax FROM EMP").show()

+------+--------+------+-----+
|emp_id|    name|salary|  tax|
+------+--------+------+-----+
|     1|   Smith|  3000|300.0|
|     2|    Rose|  4000|400.0|
|     3|Williams|  1000|100.0|
|     4|   Jones|  2000|200.0|
|     5|   Brown|    -1|  0.0|
|     6|   Brown|    -1|  0.0|
+------+--------+------+-----+

In [63]:

spark.sql("SELECT * FROM EMP WHERE gender = 'M' ORDER BY salary DESC").show()

+------+--------+---------+-------+------+------+
|emp_id|    name|branch_id|dept_id|gender|salary|
+------+--------+---------+-------+------+------+
|     2|    Rose|     2010|     20|     M|  4000|
|     1|   Smith|     2018|     10|     M|  3000|
|     3|Williams|     2010|     10|     M|  1000|
+------+--------+---------+-------+------+------+

In [64]:
#group by
spark.sql("SELECT dept_id, count(*) as count, max(salary) as max_salary FROM EMP GROUP BY dept_id").show()

+-------+-----+----------+
|dept_id|count|max_salary|
+-------+-----+----------+
|     50|    1|        -1|
|     10|    3|      3000|
|     30|    1|        -1|
|     20|    1|      4000|
+-------+-----+----------+

In [65]:
#join
spark.sql("SELECT * FROM EMP e, DEPT d where e.dept_id == d.dept_id and e.branch_id == d.branch_id").show()

+------+-----+---------+-------+------+------+---------+-------+---------+
|emp_id| name|branch_id|dept_id|gender|salary|dept_name|dept_id|branch_id|
+------+-----+---------+-------+------+------+---------+-------+---------+
|     1|Smith|     2018|     10|     M|  3000|  Finance|     10|     2018|
|     2| Rose|     2010|     20|     M|  4000|Marketing|     20|     2010|
|     5|Brown|     2010|     30|      |    -1|    Sales|     30|     2010|
|     6|Brown|     2010|     50|      |    -1|       IT|     50|     2010|
+------+-----+---------+-------+------+------+---------+-------+---------+