In [ ]:
import findspark
findspark.init()

from pyspark import SparkContext
sc = SparkContext("local", "first app")

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PySpark Create RDD example").config("spark.some.config.option", "some-value").getOrCreate()

In [ ]:
import mysql.connector

In [ ]:
db = mysql.connector.connect(host="localhost", user="root", password="12345678", database="test")
print(db)

In [ ]:
cursor = db.cursor()
print(cursor)

In [ ]:
df = spark.read.csv("file:/home/msobh/pyspark/data/tourism-recipts.csv", inferSchema=True, header=True)
df.show()

In [ ]:
df.createOrReplaceTempView("tourism_yearly")

In [ ]:
final_df = spark.sql("SELECT code as country_code, name as country_name, sum(value)/count(*) as yearly_income FROM tourism_yearly GROUP BY name, code")
final_df.show()

In [ ]:
values = final_df.collect()

In [ ]:
cursor.execute("DROP TABLE tourism")

In [ ]:
cursor.execute("CREATE TABLE tourism (id int(11) NOT NULL AUTO_INCREMENT, country_code varchar(32) DEFAULT NULL, country_name varchar(255) DEFAULT NULL, yearly_income bigint(11) DEFAULT NULL, PRIMARY KEY (id))")

In [ ]:
sql = "INSERT INTO tourism (country_code, country_name, yearly_income) VALUES (%s, %s, %s)"
cursor.executemany(sql, values)

In [ ]:
cursor.execute("SELECT * FROM tourism")
rows = cursor.fetchall()

for row in rows:
  print(row)