In [ ]:
import findspark
findspark.init()

from pyspark import SparkContext
sc = SparkContext("local", "first app")

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PySpark Create RDD example").getOrCreate()

In [ ]:
df = spark.read.csv("file:/home/msobh/pyspark/data/tourism-recipts.csv", inferSchema=True, header=True)
df.show()

In [ ]:
df.createOrReplaceTempView("tourism_yearly")

In [ ]:
final_df = spark.sql("SELECT year, sum(value) as yearly_income FROM tourism_yearly GROUP BY year")
final_df.show()

In [ ]:
import pymongo

In [ ]:
client = pymongo.MongoClient("mongodb://localhost:27017/")
print(client)

In [ ]:
db = client["test"]
print(db)

In [ ]:
tourism = db["tourism"]
print(tourism)

In [ ]:
values = [];
for row in final_df.collect():
    values.append(row.asDict())
values

In [ ]:
tourism.drop()

In [ ]:
tourism.insert_many(values)

In [ ]:
tourism.find_one()